.breakfast{
	background-image: url("liz.jpg");
}



/*subscribe starts here*/

.sub{
	background-image: url("../assets/img/backgrounds/subscribe.jpg");
}
/*subscribe starts here*/




/*footer starts here*/
.footer{
	position: fixed;
	background: #F15A29;
	left: 0;
	width: 100%;
	bottom: 0;
	height: 20;
	padding-bottom: 50px;
	padding-top:-40px;
}

.footer-menu-left{
	float: left;
}

.footer-menu-right{
	padding-left: px;
}

ul{
	list-style: none;
}

li{
	display: inline;
	padding: 10px;
}

.col-md-4{
	text-align: center;
}
/*footer ends here*/

