


/*subscribe starts here*/

.sub{
	background-image: url("../img/backgrounds/subscribe.jpg");
    height: 300px;
}

h5 {
    color: white;
}

/*subscribe starts here*/




/*!*footer starts here*!*/
/*.footer{*/
	/*position: fixed;*/
	/*background: #F15A29;*/
	/*left: 0;*/
	/*width: 100%;*/
	/*bottom: 0;*/
	/*padding-bottom: 50px;*/
	/*padding-top:-40px;*/
/*}*/

/*.footer-menu-left{*/
	/*float: left;*/
/*}*/

/*.footer-menu-right{*/
	/*padding-left: px;*/
/*}*/

/*ul{*/
	/*list-style: none;*/
/*}*/

/*li{*/
	/*display: inline;*/
	/*padding: 10px;*/
/*}*/

/*.col-md-4{*/
	/*text-align: center;*/
/*}*/
/*!*footer ends here*!*/


/*landing starts here*/
.landing{
    background: url("../img/backgrounds/landing.jpg") no-repeat;
    background-size: cover;
    margin-right: 10px;
    margin-left: 0;
    width: 100%;
}

h3{
    color: white;
}
/*landing ends here*/


/*big menu starts here*/

.breakfast{
    background: url("../img/foodtop/breakfast.jpg") no-repeat;

}
.happy{
background-color: #F15A29;
}

/*big menu ends here*/


/* fast food starts here*/





}
/* fast food ends here*/


/* menu tabs start here*/

h4{
    color: #F15A29;
}


.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #000000;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}


#Fastfood {background-color: white;}
#drinks{background-color: green;}
#Chicken {background-color: blue;}
#rice{background-color: orange;}


li{
    list-style: inline;
    display: inline;
}


/* menu tabs end here*/



.row menu{
    background-image: url("../img/backgrounds/foodsBg.jpg");
}





.hilton {
    float: right;

}
.noisy{
    float: left;
    width: 49px;
}





.party-time{
    background-color: #F15A29;
}


.menu-tab{
    background-image: url("../img/backgrounds/foodsBg.jpg");
    height: 600px;
    padding-top: 100px;
}








