


/*subscribe starts here*/

.sub{
	background-image: url("../img/backgrounds/subscribe.jpg");
    height: 300px;
}

h5 {
    color: white;
}

/*subscribe starts here*/




/*!*footer starts here*!*/
/*.footer{*/
	/*position: fixed;*/
	/*background: #F15A29;*/
	/*left: 0;*/
	/*width: 100%;*/
	/*bottom: 0;*/
	/*padding-bottom: 50px;*/
	/*padding-top:-40px;*/
/*}*/

/*.footer-menu-left{*/
	/*float: left;*/
/*}*/

/*.footer-menu-right{*/
	/*padding-left: px;*/
/*}*/

/*ul{*/
	/*list-style: none;*/
/*}*/

/*li{*/
	/*display: inline;*/
	/*padding: 10px;*/
/*}*/

/*.col-md-4{*/
	/*text-align: center;*/
/*}*/
/*!*footer ends here*!*/


/*landing starts here*/
.landing{
    background: url("../img/backgrounds/landing.jpg") no-repeat;
    background-size: 100%;
    /*margin-right: 10px;*/
    /*margin-left: 0;*/
    width: 100%;
}

h3{
    color: white;
    margin:0;
}
.dinner h3 {
    padding-top: 20%;
    padding-bottom: 30%;
}
/*landing ends here*/

.col-md-3{
    padding:0;
}

/*big menu starts here*/

.breakfast{
    background: url("../img/foodtop/breakfast.jpg") no-repeat;

}
.happy{
background-color: #F15A29;
}

/*big menu ends here*/


/* fast food starts here*/





}
/* fast food ends here*/


/* menu tabs start here*/

h4{
    color: #F15A29;
}


.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #000000;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}


#Fastfood {background-color: #ffffff;}
#drinks{background-color: white;}
#Chicken {background-color: snow;}
#rice{background-color: #ffffff;}


li{
    list-style: inline;
    display: inline;
}


/* menu tabs end here*/



.row menu{
    background-image: url("../img/backgrounds/foodsBg.jpg");
}





.hilton {
    float: right;

}
.noisy{
    float: left;
    width: 49px;
}



.menu-tab{
    background-image: url("../img/backgrounds/foodsBg.jpg");
    height: 600px;
    padding-top: 100px;
}

.breakfast{
    background-size: cover;
    background: url("../img/foodtop/breakfast.jpg") no-repeat center;
    background-size: 100%;
    text-align: center;

}
.lunch{
    background-size: cover;
    background: url("../img/foodtop/lunch.jpg") no-repeat center;
    background-size: 100%;
    text-align: center;


}

.breakfast:hover{
    opacity: 0.7;
}


.lunch:hover{
    opacity: 0.7;
}

.dinner{
    background: url("../img/foodtop/dinner.jpg") no-repeat center;
    background-size: 100%;
    text-align: center;
}
.dinner:hover{
    opacity: 0.7;
}


@media (max-width: 1280px){

}



.party-time{
    background-color: #F15A29;
    height:100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
}

.happy-hour {
    background-color: white;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}



.main{
    text-align: center;
    color: white;
    height: 210px;

}


.colmn{
    float: left;
    width: 25%;
    margin: 0 auto;
    padding: 0 auto;
}


.breakfast h3 {
    padding-top: 20%;
    padding-bottom: 30%;

}

.lunch h3 {
    padding-top: 20%;
    padding-bottom: 30%;
}


.subscribe {
    background-attachment: scroll;
    background-image: url("../img/backgrounds/subscribe.jpg");
    background-size: cover;
    padding-top: 8.5em;
    padding-bottom: 8.5em;
    color: white;
    text-align: center;
}


#mc_embed_signup {
    /* background: #fff; */
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

#mc-embedded-subscribe {
    background-color: #F15A29;
    border-color: #F15A29;
    width: 140px;
    color: white;
}
#mc_embed_signup .mc-field-group input{
    width: 30%;
    margin-left: 40%;
    margin-bottom: 1%;
    padding: 0;
}
.mc-field-group{
    text-align: center;
    padding-bottom: 0;
}




.customers {
    box-shadow: 2px 4px 12px 2px #DCDCDC;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: 'Roboto Slab', serif;
    color: rgb(65, 63, 63);
}

.customers h3 {
    color: #F15A29;
}



.customers h3 {
    color: #F15A29;
}

.col-md-7 {
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
}

.col-md-5 {
    text-align: center;
    padding-left: 4em;
    padding-right: 4em;
    border-left: solid;
    border-width: thin;
    border-color: rgba(128, 128, 128, 0.57);
}


.new-container {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5em;
    padding-bottom: 5em;

